<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="MangopayPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Empisoft\Mangopay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Empisoft\Mangopay\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MangopayPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">MangopayPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="MangopayPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Empisoft\Mangopay\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with SamplePaymentGatewayConfig -->
    <virtualType name="MangopayPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">MangopayPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Empisoft\Mangopay\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">MangopayPaymentGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="MangopayPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">MangopayPaymentGatewayAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="MangopayPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">MangopayPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">MangopayPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Empisoft\Mangopay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Empisoft\Mangopay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="MangopayPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Empisoft\Mangopay\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Empisoft\Mangopay\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Empisoft\Mangopay\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">MangopayPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="MangopayPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Empisoft\Mangopay\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Empisoft\Mangopay\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="MangopayPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MangopayPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MangopayPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">MangopayPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Empisoft\Mangopay\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">MangopayPaymentGatewayConfig</argument>
        </arguments>
    </type>

</config>
